<nb-card>
    <nb-card-header class="text-center">
        <b>Change Password</b>
    </nb-card-header>

    <nb-card-body [nbSpinner]="data_loading" nbSpinnerStatus="info">
        <form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">

            <div class="container">
                <div class="form-group row justify-content-center">
                    <label for="old_password" class="label col-sm-5 col-form-label"> Old Password *</label>
                    <div class="col-sm-7">
                        <nb-form-field>
                            <input nbInput fullWidth [type]="getInputType('old_password')"
                                formControlName="old_password">
                            <button nbSuffix nbButton type="button" ghost (click)="toggleShowPassword('old_password')">
                                <nb-icon [icon]="showPassword.old_password ? 'eye-outline' : 'eye-off-outline'"
                                    pack="eva"
                                    [attr.aria-label]="showPassword.old_password ? 'hide  password' : ' show password'">
                                </nb-icon>
                            </button>
                        </nb-form-field>
                        <ng-container
                            *ngIf="ChangePasswordForm.controls.old_password.touched && ChangePasswordForm.controls.old_password.errors">
                            <p class="caption status-danger"
                                *ngIf="ChangePasswordForm.controls.old_password.errors.required">
                                Old password is required </p>
                        </ng-container>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="new_password" class="label col-sm-5 col-form-label"> New Password *</label>
                    <div class="col-sm-7">
                        <nb-form-field>
                            <input nbInput fullWidth [type]="getInputType('new_password')"
                                formControlName="new_password">
                            <button nbSuffix nbButton ghost type="button" (click)="toggleShowPassword('new_password')">
                                <nb-icon [icon]="showPassword.new_password ? 'eye-outline' : 'eye-off-outline'"
                                    pack="eva"
                                    [attr.aria-label]="showPassword.new_password ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                        </nb-form-field>
                        <ng-container
                            *ngIf="ChangePasswordForm.controls.new_password.touched && ChangePasswordForm.controls.new_password.errors">
                            <p class="caption status-danger"
                                *ngIf="ChangePasswordForm.controls.new_password.errors.required">
                                New password is required </p>
                        </ng-container>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="confirm_password" class="label col-sm-5 col-form-label"> Confirm Password *</label>
                    <div class="col-sm-7">
                        <nb-form-field>
                            <input nbInput fullWidth [type]="getInputType('confirm_password')"
                                formControlName="confirm_password">
                            <button nbSuffix nbButton ghost type="button"
                                (click)="toggleShowPassword('confirm_password')">
                                <nb-icon [icon]="showPassword.confirm_password ? 'eye-outline' : 'eye-off-outline'"
                                    pack="eva"
                                    [attr.aria-label]="showPassword.confirm_password ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                        </nb-form-field>
                        <ng-container
                            *ngIf="ChangePasswordForm.controls.confirm_password.touched && ChangePasswordForm.controls.confirm_password.errors">
                            <p class="caption status-danger"
                                *ngIf="ChangePasswordForm.controls.confirm_password.errors.required">
                                Confirm Password is required </p>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" nbButton status="success"
                    [disabled]=" submitted || !ChangePasswordForm.valid">Submit</button>&nbsp; &nbsp;
                      <button nbButton type="button" status="primary" (click)="back()"  routerLinkActive="router-link-active">Cancel</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
